.cardContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  justify-content: space-evenly;
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
  background-color: #2b2b2bb5;
  color: white;
  margin: 10px;
  width: 300px;
  filter: blur(0);
  cursor: pointer;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card:hover {
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.507);
  border-radius: 25px;
  background-color: #2b2b2be4;
  /* background-color: #32917eb5; */
  filter: blur(0.6px);
}

a {
  text-decoration: none;
}

.title {
  padding-top: 5px;
  height: 60px;
  text-align: center;
}

.venueImage {
  height: 200px;
  width: 298px;
  object-fit: cover;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  /* border-radius: 15px 15px 0px 0px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1); */
}

.venueImage:hover {
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  /* border-radius: 0px 0px 0px 0px; */
}

.cardText {
  padding: 7px;
}

.price {
  color: greenyellow;
  text-align: end;
}
