.pageWrapper {
  text-align: center;
  padding: 40px 0;
  /* color: white; */
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1000px;
}

.informationCard {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
  /* background-color: #2b2b2bb5; */
  backdrop-filter: blur(8px);
  padding: 10px;
  margin: 10px auto;
  max-width: 500px;
}

.avatarCard {
  width: fit-content;
  position: relative;
  margin: auto;
}

.avatar {
  border-radius: 50%;
  width: 230px;
  height: 230px;
  object-fit: cover;
  border: 1px solid black;
  margin: 10px;
}

/* .avatar:hover {
  border: 1px dashed #e7a600;
  transition: border 0.2s;
} */

.update {
  visibility: hidden;
}

.updateAvatar {
  font-size: 20px;
  position: absolute;
  bottom: 8px;
  right: 60px;
}

.updateAvatar a {
  color: black;
}

.updateAvatar a:hover {
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-size: 25px;
}

.profileText {
  padding: 10px;
}

.form {
  width: 100%;
  margin: auto;
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
}

.inputSize {
  margin: 5px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.507);
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.label {
  text-align: left;
}

.avatarModalBtn {
  border-top: 1px solid rgb(230, 230, 230);
  display: flex;
  justify-content: right;
}

/* error css */

.loader {
  text-align: center;
  margin: 30px;
}

.errorMessage {
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  max-width: 380px;
  background-color: rgba(255, 0, 0, 0.515);
  border: 1px solid rgb(116, 8, 8);
  box-shadow: 2px 2px 4px 0 rgba(105, 1, 1, 0.363);
  border-radius: 8px;
}
