.pageWrapper {
  text-align: center;
  padding: 40px 0;
  color: white;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1000px;
}

.informationCard {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
  background-color: #2b2b2bb5;
  padding: 10px;
  margin: 10px;
  max-width: 800px;
}

.avatar {
  border-radius: 50%;
  border: 1px solid black;
  margin: 10px;
}

.profileText {
  padding: 10px;
}

/* error css */

.loader {
  text-align: center;
  margin: 30px;
}

.errorMessage {
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  max-width: 380px;
  background-color: rgba(255, 0, 0, 0.515);
  border: 1px solid rgb(116, 8, 8);
  box-shadow: 2px 2px 4px 0 rgba(105, 1, 1, 0.363);
  border-radius: 8px;
}
