.pageWrapper {
  text-align: center;
  padding: 40px 0;
  color: white;
}

.informationCard {
  border: 1.5px solid black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
  backdrop-filter: blur(10px);
  color: black;
  padding: 10px;
  margin: 20px;
  max-width: 800px;
  font-weight: 500;
  position: relative;
}

.title {
  font-weight: 300;
}

@media only screen and (min-width: 795px) {
  .informationCard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 10px auto;
  }
}
