nav a {
  color: white;
  padding: 10px;
}

nav a:hover {
  color: #e7a600;
  transition: color 0.2s;
}

nav a.active {
  color: #e7a600;
}

.navRight {
  right: inherit;
}

nav {
  padding: 15px;
}

/* .signInOut a {
  padding-left: 25px;
} */

.header {
  /* border-bottom: 1px solid black; */
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507); */
  /* background-color: #2b2b2b00; */
  /* align-items: center; */
  width: 100%;
  /* z-index: 1; */
}

/* .headerPlacement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} */

.logoImage {
  display: flex;
  justify-content: left;
  margin: 20px 0px;
}
