.pageWrapper {
  text-align: center;
  padding: 40px 0;
  color: white;
}

.bookVenue {
  width: fit-content;
  padding: 10px;
  margin: auto;
}

.inputSize {
  width: 80%;
  margin: 5px 5px 15px 5px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.507);
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.label {
  text-align: left;
}

.informationCard {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
  background-color: #2b2b2bb5;
  padding: 10px;
  margin: 10px auto;
  max-width: 800px;
}

.carouselImage {
  height: 350px;
  width: 80%;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
  object-fit: cover;
}

.visuallyHidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}

.detailsTitle {
  margin: 10px;
  padding: 10px;
  font-size: 23px;
  font-weight: 300;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.details {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
}

.detailSpecific {
  width: 250px;
  text-align: center;
}

.dateCard {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
  padding: 12px;
  width: fit-content;
  margin: auto;
}

h4 {
  margin: 15px;
}

.member {
  padding: 10px;
}

.member a {
  color: #e7a600;
}

.member a:hover {
  color: #ffc126;
  transition: color 0.2s;
}

.owner {
  margin-top: 15px;
  border: 1px solid black;
  border-radius: 10px;
}

.bookings {
  margin-top: 15px;
  border: 1px solid black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
  border-radius: 10px;
  padding: 10px;
}

.avatarImage {
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
  margin: 10px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/* error and success css */

.loader {
  text-align: center;
  margin: 30px;
}

.errorMessage {
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  max-width: 380px;
  background-color: rgba(255, 0, 0, 0.515);
  border: 1px solid rgb(116, 8, 8);
  box-shadow: 2px 2px 4px 0 rgba(105, 1, 1, 0.363);
  border-radius: 8px;
}

.addedSuccess {
  background-color: #579b57;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
  border: 1px solid #329232;
  border-radius: 5px;
  padding: 10px 5px;
  margin: 0px auto;
  text-align: center;
  width: 310px;
  animation: fader 3.5s linear forwards;
}

@keyframes fader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
