.form {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.inputSize {
  margin: 5px 5px 15px 5px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.507);
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.label {
  text-align: left;
}

.visuallyHidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}

.meta {
  display: flex;
  justify-content: space-around;
  margin: 15px;
}

.addressForm {
  padding: 15px;
  margin-top: 20px;
  border: 1px solid black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.507);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.member a {
  color: #e7a600;
}

.member a:hover {
  color: #ffc126;
  transition: color 0.2s;
}

/* The toggle switch for Holidaze manager */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2b2b2bb5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  border-radius: 50%;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #e7a600;
}

input:focus + .slider {
  box-shadow: 2px 2px 8px rgba(239, 239, 239, 0.507);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.button {
  padding-top: 15px;
}

/* error */

.loader {
  text-align: center;
  margin: 30px;
}

.errorInput {
  margin-bottom: 10px auto;
  color: #f7984b;
  font-weight: 500;
}
